<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>django-detail</title>
</head>
<body>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for ch in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ ch.id }}">
                <label for="choice{{ forloop.counter }}">{{ ch.choice_text }}</label><br/>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>
{#    <h1>{{ question.question_text }}</h1>#}
{#    <ul>#}
{#        {% for foo in question.choice_set.all %}#}
{#            <li>{{ foo.choice_text }}</li>#}
{#        {% endfor %}#}
{##}
{#    </ul>#}
</body>
</html>