<div class="container">
    <table class="table table-striped">
        <caption>Rent History</caption>
        <tr>
            <th>choose</th>
            <th>id</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Fee(AUD)</th>
            <th>Fee(RMB)</th>
            <th>Payment Date</th>
            <th>Comment</th>
        </tr>
        {% for x in bills %}
        <tr id="info{{ x.id }}">
            <td><input type="radio" name="info"></td>
            <td>{{ x.id }}</td>
            <td>{{ x.start_date }}</td>
            <td>{{ x.due_date }}</td>
            <td>{{ x.fee_aud }}</td>
            <td>{{ x.fee_rmb }}</td>
            <td>{{ x.payment_date }}</td>
            <td>{{ x.comments }}</td>
        </tr>
        {% endfor %}
    </table>
</div>