<div class="container">
    <table class="table table-striped">
        <caption>Rent History</caption>
        <tr>
            {% comment %} <th>choose</th> {% endcomment %}
            <th>id</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Fee(AUD)</th>
            <th>Fee(RMB)</th>
            <th>Payment Date</th>
            <th>Comment</th>
        </tr>
        {% for x in bills %}
        <tr id="info{{ x.id }}">
            {% comment %} <td><input type="radio" name="info"></td> {% endcomment %}
            <td>{{ x.id }}</td>
            <td>{{ x.start_date|date:"Y/m/d" }}</td>
            <td>{{ x.due_date|date:"Y/m/d" }}</td>
            <td>${{ x.fee_aud }}</td>
            <td>￥{{ x.fee_rmb }}</td>
            <td>{{ x.payment_date|date:"Y/m/d" }}</td>
            <td>{{ x.comments|default_if_none:"" }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>total</td>
            <td></td>
            <td></td>
            <td>{{ total_fee_aud }}</td>
            <td>{{ total_fee_rmb }}</td>
            <td></td>
            <td></td> 
        </tr>
    </table>
</div>